/*見出しデザイン*/

/*見出しデザイン終わり*/
h1 {
position: relative;
padding-left: 25px;
}

h1:before {
position: absolute;
content: '';
bottom: -3px;
left: 0;
width: 0;
height: 0;
border: none;
border-left: solid 15px transparent;
border-bottom: solid 15px rgb(119, 195, 223);
}
h1:after {
position: absolute;
content: '';
bottom: -3px;
left: 10px;
width: 100%;
border-bottom: solid 3px rgb(119, 195, 223);
}
/*メニュー開始*/
#nav {
  list-style: none;
  display: flex;
}

#nav li {
  width: 170px;
  text-align: center;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
/*メニューここまで*/

.flat_ss {
    color: #484848;
    display: inline-block;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    vertical-align: middle;
    background: #eaeef1;
    text-decoration: none;
    margin: 1em;
}

.flat_ss .iconback{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}
.flat_ss .iconback .fa{
    font-size: 25px;
    line-height: 50px;
}
.flat_ss .iconback .fa{
	transition: .3s;
}

.flat_ss .btnttl{
    display: inline-block;
    width: 120px;
    text-align: center;
    vertical-align:middle;
}

.flat_ss .tw {background:#1da1f3}
.flat_ss .fb {background:#3b75d4}
.flat_ss .fdly {background:#7ece46}
.flat_ss .pkt {background:#fd7171}
.flat_ss:hover .iconback .fa{
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
}